.search-input {
  display: flex;
  background-color: $gray-100;
  border-radius: 61px;
  overflow: hidden;

  &__input {
    font-size: 0.75rem;
    line-height: 14px;
    flex-grow: 1;
    color: $gray-500;
    border: none;
    border-top-left-radius: 61px;
    border-bottom-left-radius: 61px;
    padding: 0.5rem 1rem;
    &:focus {
      outline: none;
    }
  }
  &__btn {
    border: 0;
    padding: 0 1rem;
    background-color: $gray-100;
    color: $gray-500;
    display: flex;
    align-items: center;
  }
  
  // sizes
  &.search-input-lg &__input{
    padding: 0.75rem 1.25rem;
    font-size: 0.9375rem;
  } 
  &.search-input-lg  &__btn {
    padding: 0 1.25rem;
  }

  // color
  &.search-input-gray-100 {
    background-color: $gray-100;
    &__input,
    &__btn {
      background-color: $gray-100;
    }
  }

  &.search-input-gray-200 {
    background-color: $gray-200;
  }
  &.search-input-gray-200 &__input,
  &.search-input-gray-200 &__btn {
    background-color: $gray-200;
  }
  
  // hover
  &:hover &__input,
  &:hover &__btn{
    background-color: $gray-300;
    color: $gray-500;
  }

  &.search-input-lg:hover {
    box-shadow: $box-shadow-card-hover;
  }

  //focus
  &.search-input-lg &__input:focus,
  &.search-input-lg &__input:focus + &__btn {
    background-color: $gray-100;
    color: $gray-500;
  }
}